{% if marker.name %}
    {% set markerName = marker.name|slugify %}
    {% set foundMarkerType = null %}
    {% for markerType in markerTypes %}
        {% if markerType.name == markerName %}
            {% set foundMarkerType = markerType %}
        {% endif %}
    {% endfor %}

    {% if foundMarkerType %}
        {% set markerColor = foundMarkerType.color %}
        {% set markerIcon = foundMarkerType.faCode %}
    {% else %}
        {% set markerColor = 'FF4081' %}
        {% set markerIcon = 'fa-map-pin' %}
    {% endif %}
{% else %}
    {% set markerColor = 'FF4081' %}
    {% set markerIcon = 'fa-map-pin' %}
{% endif %}



<div class="marker absolute flex flex-col gap-4 h-fit w-fit opacity-0 transition ease-in duration-500"
     data-posx="{{ marker.posX }}" data-posy="{{ marker.posY }}"
     data-name="{{ marker.name }} " data-id="{{ marker.id }}">

    <i class="flex items-center justify-center text-lg fa-solid {{ markerIcon }}" style="color: {{ '#'~markerColor }}"></i>

    <div id="cardMarker_{{ marker.id }}" class="hidden flex-col gap-4 bg-grey p-4 rounded-lg z-50">
        {% if marker.title or marker.name %}
            <div class="flex flex-col">
            {% if marker.title %}
                <p class="text-xl font-medium">{{ marker.title }}</p>

            {% endif %}
            {% if marker.name %}
                <p class="text-xs">Type : {{ marker.name }}</p>
            {% endif %}
            </div>
        {% endif %}

        {% if marker.comment %}
            <p class="w-80 pl-4">{{ marker.comment }}</p>
        {% endif %}

        {% if marker.image %}
            <img class="w-80 h-auto" src="{{ marker.image }}" alt="Image marker_{{ marker.id }}">
        {% endif %}
        <p class="text-xs">Marker posé par : {{ marker.creator.name }}</p>
    </div>
</div>