<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LS Marker{% endblock %}</title>

        {% block meta %}
            <meta name="description" content="{{ app.request.server.get('META_GEN_DESCRIPTION') }}">
            <meta name="author" content="{{ app.request.server.get('META_GEN_AUTHOR') }}">
        {% endblock %}

        {% block canonical %}
            <link rel="canonical" href="{{ app.request.server.get('APP_URL') }}">
        {% endblock %}


        {% block fbmeta %}
            <!-- Facebook meta tags -->
            <meta property="og:type" content="website">
            <meta property="og:site_name" content="{{ app.request.server.get('META_FACEBOOK_NAME') }}">
            <meta property="og:url" content="{{ app.request.uri }}">
            <meta property="og:title" content="{{ app.request.server.get('META_FACEBOOK_TITLE') }}">
            <meta property="og:description" content="{{ app.request.server.get('META_FACEBOOK_DESCRIPTION') }}">
            <meta property="og:locale" content="fr_FR"/>
        {% endblock %}

        {% block twittermeta %}
            <!-- Twitter meta tags -->
            <meta property="twitter:url" content="{{ app.request.uri }}">
            <meta name="twitter:title" content="{{ app.request.server.get('META_TWITTER_TITLE') }}">
            <meta name="twitter:description" content="{{ app.request.server.get('META_TWITTER_DESCRIPTION') }}">
        {% endblock %}

        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex flex-col text-lavender">

        {{ include('partials/_header.html.twig') }}

        {% block body %}{% endblock %}

        {{ include('partials/_footer.html.twig') }}

    </body>
</html>
